<div class="container">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Payment Details</legend>

                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Payment Type</th>
                            <th>Channel Name</th>
                            <th>Entity</th>
                            <th>Entity ID</th>
                            <th>Account</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="payment in payments">
                            <td>{{payment.id}}</td>
                            <td>{{payment.date_created}}</td>
                            <td>{{payment.payment_type}}</td>
                            <td>{{payment.channel_name}}</td>
                            <td>{{payment.entity}}</td>
                            <td>{{payment.entity_id}}</td>
                            <td>{{payment.payment_account}}</td>
                            <td>{{payment.transaction_amount}}</td>
                            <td>{{payment.payment_status}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="#/payment-details/{{payment.id}}" class="text-info" ng-click=""
                                             uib-tooltip="View Details">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
