<div class="container">
    <div class="row">
        <div class="col-md-12">
            <fieldset>
                <legend>Channel Details</legend>
                <div class="row">
                    <div class="col-md-3 pull-right">
                        <a href="#/channel-details" class="btn btn-sm btn-primary pull-right">
                            <i class="fa fa-plus"></i>
                            &nbsp;Add New Channel
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Channel Name</th>
                            <th>Payment Type</th>
                            <th>Channel Endpoint</th>
                            <th>Is callback?</th>
                            <th>Is active?</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="channel in channels">
                            <td>{{channel.id}}</td>
                            <td>{{channel.channel_name}}</td>
                            <td>{{channel.channel_type}}</td>
                            <td>{{channel.channel_endpoint}}</td>
                            <td>{{channel.callback}}</td>
                            <td>{{channel.active}}</td>
                            <td>
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="#/channel-details/{{channel.id}}" class="text-info" ng-click=""
                                           uib-tooltip="View channel Details">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
