body {
  padding-top: 0;
  margin-top: 0;
}

fieldset {
  font-family: sans-serif;
  border: 1px solid steelblue;
  /*background: #FFFFFF;*/
  border-radius: 14px;
  padding: 2px 20px 20px 20px;
  margin-top: 5px;
}

fieldset legend {
  background: steelblue;
  color: #FFFFFF;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #f2f2f2;
  margin-top: 5px;
  margin-bottom: 5px;
}

tr:nth-child(even) {
    background-color: rgba(77, 190, 255, 0.16);
}

tr:nth-child(odd) {
    background-color: #fff;
}

th {
    background: rgba(163, 163, 163, 0.69);
    color: #FFFFFF;
    font-size: 12px;
}

.table-responsive
{
    overflow-x: auto;
}